<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap"
            rel="stylesheet">
        <title>Welcome</title>
    </head>

    <body
        style="margin: 0;padding: 20px;box-sizing: border-box;font-family: 'DM Sans', sans-serif;background-color: #fff;">
        <section
            style="width: 100%;max-width: 650px;padding: 0;box-sizing: border-box;margin: auto;background-color: #fff;border-radius: 8px;box-shadow: 0 0 20px 0 #00000042;display: flex;align-items: start;justify-content: center;">
            <table style="width: 100%;">
                <tr>
                    <td
                        style="text-align: left;border-bottom: 1px solid #cdcdcd;padding: 20px;">
                        <img src="https://brainycode-data.s3.amazonaws.com/brainycode-assets/brainyclock-logo.png" alt>
                    </td>
                </tr>
                <tr>
                    <td style="padding:20px 20px;box-sizing: border-box;text-align: center;">
                        <img src="https://brainycode-data.s3.amazonaws.com/brainycode-assets/main.png" width="90%" alt="">
                        <h2
                            style="font-size: 45px;font-weight:700;margin:0px 0 0;text-align: center;color: #000;">Welcome
                            to Brainy Code</h2>
                        <h6
                            style="margin: 10px auto 0px;width: 100%;max-width: 100%;text-align: center;font-weight: 400;font-size: 16px;">
                            Visit our website by clicking on login button.
                        </h6>
                        <a href="http://brainycode-client.s3-website-us-east-1.amazonaws.com/signin"
                            style="padding: 12px 30px;text-decoration: none;background-color: #271353;color: #fff;font-size: 15px;width:100%;border-radius:8px;display: inline-block;box-sizing: border-box;text-align: center;max-width:150px;margin: 20px auto 0;">Login</a>
                    </td>
                </tr>
            </table>
        </section>
    </body>

</html>